<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
  <script>
    document.addEventListener("turbo:load", function() {
      setTimeout(function() {
        console.log("pasooo")
        const flashMessages = document.getElementById('flash_messages');
        if (flashMessages) flashMessages.innerHTML = '';
      }, 5000); // Adjust the timeout as necessary
    });
  </script>
<% end %>

<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
  <script>
    document.addEventListener("turbo:load", function() {
      setTimeout(function() {
        const flashMessages = document.getElementById('flash_messages');
        if (flashMessages) flashMessages.innerHTML = '';
      }, 5000); // Adjust the timeout as necessary
    });
  </script>
<% end %>